{% extends 'base.html' %}

{% block content %}

<div class="card">
<h2>Welcome</h2>
<p>ตัวอย่างเว็บไซต์ร้านอาหาร</p>
</div>

<div class="card">

<h2>เมนูแนะนำ</h2>

<div class="products">

<div class="product">
<img src="https://images.unsplash.com/photo-1604908176997-125f25cc6f3d">
<h3>ก๋วยเตี๋ยวหมู</h3>
<p>ราคา 50 บาท</p>
</div>

<div class="product">
<img src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c">
<h3>ก๋วยเตี๋ยวเนื้อ</h3>
<p>ราคา 60 บาท</p>
</div>

<div class="product">
<img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836">
<h3>ก๋วยเตี๋ยวต้มยำ</h3>
<p>ราคา 70 บาท</p>
</div>

</div>

</div>

{% endblock %}